@model CleanArch.Application.DTOs.ProductDTO
@{
    ViewData["Title"] = "Deletar produto";
}
<h2>@ViewData["Title"]</h2>
<h4>Desejas deletar este produto?</h4>
 
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model=>model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model=>model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model=>model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model=>model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model=>model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model=>model.Price)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Delete" class="btn btn-danger"/>| 
            <a asp-action="Index">Cancelar</a>
        </form>
    </div>
 